<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>fgdojo: front</title>
    <link rel="stylesheet" href="/asset/css/style.css">
</head>
<body>
    <div class="container">
        <h1>FG Dojo</h1>
        <p>Welcome to FG Dojo!</p>
        <h2>Login</h2>
        <form action="/api/login" method="POST" id="login-form">
            <fieldset class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" placeholder="azure@diamond.com">
            </fieldset>
            <fieldset class="form-group">
                <label for="pw">Password</label>
                <input type="password" name="pw" class="form-control" placeholder="hunter2">
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/signup"><button type="button" class="btn btn-info">Sign Up</button></a>
        </form>
    </div>
    <script>
        // Serialize an object into a list of parameters
        function parameterize(dataObj) {
            var params = '';

            for (var key in dataObj) {
                if (params !== '') {
                    params += '&';
                }

                params += (key + '=' + encodeURIComponent(dataObj[key]));
            }

            return params;
        }

        document.addEventListener('DOMContentLoaded', function() {
            var loginForm = document.getElementById('login-form');

            loginForm.addEventListener('submit', function(evt) {
                evt.preventDefault();

                var loginReq = new XMLHttpRequest();

                loginReq.onload = function() {
                    if(loginReq.status === 200) {
                        window.location = '/';
                    } else {
                        alert('Username or password incorrect');
                    }
                }

                var data = {
                    email: evt.target.querySelector('input[name="email"]').value,
                    pw: evt.target.querySelector('input[name="pw"]').value
                };

                data = parameterize(data);

                loginReq.open('POST', '/api/login');
                loginReq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                loginReq.send(data);
            });
        });
    </script>
</body>
</html>