<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>fgdojo: front</title>
    <link rel="stylesheet" href="/asset/css/style.css">
</head>
<body>
    <div class="container">
        <h1>FG Dojo</h1>
        <p>Welcome to FG Dojo!</p>
        <h2>Login</h2>
        <form action="/api/login" method="POST">
            <fieldset class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" placeholder="azure@diamond.com">
            </fieldset>
            <fieldset class="form-group">
                <label for="pw">Password</label>
                <input type="password" name="pw" class="form-control" placeholder="hunter2">
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>