<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>fgdojo: registration</title>
    <link rel="stylesheet" href="/asset/css/style.css">
</head>
<body>
    <div class="container">
        <h1>FG Dojo</h1>
        <h2>Sign Up</h2>
        <form action="/api/user" method="POST">
            <fieldset class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" placeholder="azure@diamond.com">
            </fieldset>
            <fieldset class="form-group">
                <label for="pw">Password</label>
                <input type="password" name="pw" class="form-control" placeholder="hunter2">
            </fieldset>
            <fieldset class="form-group">
                <label for="tag">Tag</label>
                <input type="text" name="tag" class="form-control" placeholder="watermelon">
            </fieldset>
            <fieldset class="form-group">
                <label for="real_name">Real Name</label>
                <input type="text" name="pw" class="form-control" placeholder="bob dillan">
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/"><button type="button" class="btn btn-info">Login</button></a>
        </form>
    </div>
</body>
</html>