<html>
<head>
  <title>fgdojo: user debug</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>user debug</h1>
  <h2>register</h2>
  <form action="/user" method="POST">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="pw" placeholder="pw">
    <input type="text" name="tag" placeholder="tag">
    <input type="text" name="realName" placeholder="realName">
    <button type="submit">Submit</button>
  </form>
  <script src="/static/script.js"></script>
</body>
</html>